body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

header {
    background-color: #9cd2f7;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

.addButton {
    position: fixed;
    right:5%;
    bottom:5%;
    z-index: 2;
}

.create {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10% 10%;
    top: 0;
    left: 0;
    background: rgba(50, 50, 50, 0.85);
    z-index: 1;
}

.note {
    margin: 20px 20px;
    float: left;
}